/*** MAIN ***/

html {
  cursor: none;
}

body {
  font-family: 'Jaldi', sans-serif;
  text-align: center;
  /*padding: 20px;*/
  padding-right: 0;
  /*background: #9D8ABA;*/
  margin: 0;
  overflow-x: hidden;
  background-color: #758961;
	background-color: #111;
  transition: background-color 0.6s;
  -moz-transition: background-color 0.6s;
}

.time-large {
  position: absolute;
  right: 0; left: 0;
  top: 54%;
  font-size: 26vw;
  color: rgba(255,255,255,0.08);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: inherit;
}

#time-large-l {
  left: -100%;
  width: 100%;
  text-align: right;
  transform: translate(-110%,-50%);
  opacity: 0;
  transition: all 0.6s 1.1s;
}

#time-large-r {
  left: 100%;
  width: 100%;
  text-align: left;
  opacity: 0;
  transform: translate(110%,-50%);
  transition: all 0.6s 1.2s;
}

#time-large-l.show, #time-large-r.show {
  transform: translate(0,-50%);
  opacity: 1;
}

nav {
  position: fixed;
  top: 0; right: 0; left: 0;
  padding: 6px;
  /*background: rgba(0,0,0,0.1);*/
  background: transparent;
  color: rgba(255,255,255,0.4);
  font-size: 12px;
  font-family: 'Jaldi', helvetica, arial, sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  z-index: 10;
  opacity: 0;
  transition: all 0.6s 0.7s;
  transform: translateY(-40px);
}

#nav-weather.show {
  opacity: 1;
  transform: translateY(0);
}

nav span {
  padding: 0 25px;
  /*border-right: 3px solid rgba(0,0,0,0.04);*/
}

nav span:last-child {
  border-right: 0;
}

#weather-bg {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  /*background: url('fresh_snow_@2X.png');*/
  /*background: url('./images/rain.png');*/
  /*opacity: 0.3;*/
  background-size: cover !important;
  /*filter: brightness(80%);*/
  opacity: 0;
  animation: fadeOpIn 2s 2s;
  animation-fill-mode: forwards;
}

#weather-bg div {
  opacity: 0;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  transition: opacity 5s;
}

#weather-bg div.show {
  opacity: 0.3;
}

#weather-sunny {
  background: url(./images/sun.png) no-repeat center center fixed;
  background-size: cover;
}

#weather-rain {
  background: url(./images/rain.png) no-repeat center center fixed;
  background-size: cover;
}

#weather-showers {
  background: url(./images/showers.png) no-repeat center center fixed;
  background-size: cover;
}

#weather-cloudy {
  background: url(./images/cloudy.png) no-repeat center center fixed;
  background-size: cover;
}

#weather-windy {
  background: url(./images/windy.png) no-repeat center center fixed;
  background-size: cover;
}

#weather-snow {
  background: url(./images/snow.png) no-repeat center center fixed;
  background-size: cover;
}

.container-main {
  max-width: 600px;
  margin: 0 auto;
  position: fixed;
  right: 0;
  left: 0;
  top: 53%;
  transform: translateY(-50%);
  text-align: center;
  opacity: 0;
  animation: fadeAllIn 0.7s forwards;
}

@keyframes fadeAllIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

iframe {
  border: none;
  margin: 0 auto;
}

/*** SEARCH ***/

.search-container {
  padding: 0 10px;
  position: relative;
  text-align: left;
  margin-bottom: 40px;
}

/*#search-pre {
  position: absolute;
  top: 49%;
  transform: translateY(-50%);
  left: 82px;
  color: #eee;
  font-size: 30px;
  opacity: 0.2;
  width: 3px;
  height: 45%;
  background: #fff;
}

.search-pre-blinking {
  animation: searchPreBlinking 0.8s infinite linear;
  animation-fill-mode: forwards;
}

@keyframes searchPreBlinking {
  0% { opacity: 0; }
  50% { opacity: 0.6; }
  100% { opacity: 0; }
}*/

#search-input {
  width: 22%;
  border: none;
  outline: 0;
  /*background: #A192B6;*/
  background: rgba(0,0,0,0.07);
  padding: 11px 11px 8px;
  box-sizing: border-box;
  /*color: #BBB5C5;*/
  /*color: hsl(263,12%,74%);*/
  color: #ddd;
  letter-spacing: 1px;
  padding-left: 87px;
  border-radius: 4px;
  animation: searchLoad 0.3s ease-in forwards 0.3s;
  /*font-weight: 700;*/
  /*letter-spacing: 2px;*/

  font-family: 'Jaldi', sans-serif;
  /*font-family: 'Source Code Pro', monospace;*/
  /*letter-spacing: 1px;*/
  font-size: 24px;
  color: transparent;
  text-shadow: 0px 0px 0 rgba(255,255,255,0.3);
  opacity: 0;
  transition: text-shadow 0.2s;
}

.search-hide {
  /*MAKE CAROT TRANSPARENT, TEXT IS NOW SHADOW*/
  /*color: transparent !important;*/
  text-shadow: 0 0 0 rgba(255,255,255,0) !important;
}

#input-fake {
  display: inline-block;
  padding: 10px 19px 10px 0;
  /*position: relative;*/
  color: transparent;
  text-shadow: 0 0 0 #444;
  font-size: 24px;
  letter-spacing: 1px;
  font-family: 'Jaldi', sans-serif;
  color: #ddd;
  position: absolute;
  left: 82px;
  height: 100%;
  box-sizing: border-box;
  top: 0;

  opacity: 0;
  animation: fadeOpIn 1s 0.5s;
  animation-fill-mode: forwards;
}

#input-fake:after {
  content: '';
  width: 7px;
  height: 48%;
  right: 10px;
  position: absolute;
  background: rgba(0,0,0,0.2);
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  animation: cursorBlink 0.8s linear infinite;
}

#input-fake.input-cursor-inactive:after {
  content: '';
  display: none;
}

#deletion {
  background: rgba(0,0,0,0.15);
  transition: width 0.15s linear;
  transition: width 0s linear;
  display: inline-block;
  overflow: hidden;
  position: absolute;
}

@keyframes cursorBlink {
  0% { opacity: 0; }
  49% { opacity: 0; }
  50% { opacity: 1; }
  99% { opacity: 1; }
  100% { opacity: 0; }
}

::placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}

@keyframes searchLoad {
  0% { width: 22%; opacity: 0; }
  20% { opacity: 1; }
  100% { width: 100%; opacity: 1; }
}

#search-input:focus {
  box-shadow: inset 0 -1px 7px rgba(0,0,0,0.01);
  border-bottom: 2px solid rgba(0,0,0,0.15);
  padding-bottom: 6px;
  /*background: #9B8DB0;*/
  background: rgba(0,0,0,0.1);
}

#input-search-icon {
  position: absolute;
  left: 37px;
  transform: translateY(-50%);
  top: 53%;
  opacity: 0;
  filter: none;
  z-index: 10;
  animation: fadeInSearchIcon 1s 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeInSearchIcon {
  from { opacity: 0; }
  to { opacity: 0.18; }
}

/*.search-icon {
  position: absolute;
  left: 23px;
  transform: translateY(-50%);
  top: 50%;
  opacity: 0.18;
  filter: none;
  z-index: 10;
}*/

/*.search-icon:before {*/
#input-search-icon i.fa {
  font-size: 30px;
}

#input-search-icon i.fa-google {
  transform: translateY(3px);
}

/** *LINKS ***/

ul {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  padding-left: 0;
}

ul li {
  list-style: none;
  flex: 1;
  padding: 10px;
  justify-content: space-between;
  flex-basis: 100px;
  height: 100px;
}

ul li a {
  /*background: #B5A2CC;*/
  position: relative;
  display: block;
  border-radius: 4px;
  height: 100%;
  vertical-align: center;
  /*box-shadow: 0 1px 2px rgba(0,0,0,0.2);*/
  /*line-height: 105px;*/
  line-height: 0;
  color: #eee;
  text-decoration: none;
  opacity: 0;
  transform: translateY(0);
  font-weight: bold;
  position: relative;
  overflow: hidden;
  will-change: auto;
  border: 1px solid rgba(255,255,255,0.1);
  z-index: 1;
  transition: opacity 0.3s, background 0.4s;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0) scale(1.0, 1.0);
  opacity: 0;
  display: none;
}

ul li a.show {
  opacity: 0.8;
}

ul li a .fa {
  font-size: 45px;
  opacity: 0.8;
  top: 45%;
  transform: translateY(-50%) rotate(0.0001deg);
  transform-origin: 50% 50%;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 5;
}

ul li a span {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20%;
  color: rgba(0,0,0,0.15);
  z-index: 5;
  font-size: 15px;
  letter-spacing: 1px;
}

ul li a:after {
  content: '';
  width: 150px;
  height: 150px;
  /*background: #CFB2D4;*/
  background: rgba(255,255,255,0.18);
  position: absolute;
  /*bottom: -130%;*/
  z-index: 2;
  transition: all 0.2s;
  opactiy: 0;
  transform-origin: 50% 50%;
  transform: rotate(0deg) translate(0,80%);
  /*bottom: -140%;
  right: -100%;*/
}

ul li a:focus, ul li:hover a {
/*ul li a:focus {*/
  /*background: #BBA8CF;*/
  filter: brightness(105%);
  box-shadow: 0 2px 5px rgba(0,0,0,0.35);
  outline: none;
  /*border: none !important;*/
  /*margin-top: -1px;*/
  transform: translateY(-1px);
  opacity: 1;
  border: 1px solid rgba(255,255,255,0.1);
}

ul li a:focus:after {
  transform: rotate(-45deg) translate(-30%,35%);
  /*bottom: -90%;
  right: -90%;*/
  opacity: 0.5;
}

/*** DOTS ***/

#dot-container {
  display: none;
}

.section-no-dots {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin-top: 9px;
  opacity: 0;
  animation: fadeOpIn 0.7s 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOpIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.no-dot {
  margin: 0 auto;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  /*background: rgba(255,255,255,0.1);*/
  display: inline-block;
  /*margin-right: 15px;*/
  padding: 5px 8px;
  font-size: 14px;
  cursor: pointer;
}

.no-dot:last-child {
  margin-right: 0;
}

.no-dot-sel {
  /*background: rgba(255,255,255,0.24);*/
}

.no-dot i {
  color: rgba(255,255,255,0.2);
  position: relative;
}

.no-dot-sel i {
  transform: translate(0px,-1px);
  font-size: 19px;
  color: rgba(255,255,255,0.6);
}

/*** BROWSER ***/

#if-browser {
  display: none;
  position: absolute;
  top: 100% !important;
  z-index: 100;
  right: 0; left: 0; top: 0; bottom: 0;
  border: none;
  transform: translateY(0);
  transition: transform 0.3s ease-out;
  width: 100%;
  height: 100%;
}

#if-browser.show {
  transform: translateY(-100%);
}

@media (max-height: 700px) {

  ul li {
    height: 100px;
    flex-basis: 90px;
  }

  ul li a:after {
    bottom: -170%;

  }

  ul li a:focus:after {
    bottom: -140%;
  }


}

@media (max-width: 500px) {

  body {
    position: absolute;
    /*overflow: hidden;*/
    width: 100%;
    height: 100vh;
  }

  .search-container {
  }

  #date-t, #date-d {
    display: none;
  }

  nav {
    background: #333;
    position: absolute;
    right: 0; left: 0; top: 0;
  }
  nav span { padding: 0 8px; border-right: 1px solid rgba(255,255,255,0.1); }

  .container-main {
    /*position: relative;*/
    position: fixed;
    right: 0; left: 0; top: 0; bottom: 0;

    overflow-y: scroll;
    transform: none;
    padding: 0 10px;
    padding-top: 55px;
  }

  #weather-bg {
    position: fixed;
    height: 100vh;
  }

  #weather-bg div.show {
    opacity: 0.6;
  }

  ul li {
    height: 110px;
  }

  ul li a {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }

  ul li a span {
    color: rgba(0,0,0,0.28);
  }

  .no-dot {
    padding: 3px 4px;
    margin: 0 3px;
    cursor: pointer;
  }

  .time-large {
    display: none;
  }

}
