/*** MAIN ***/

html {
  cursor: none;
}

body {
  text-align: center;
  padding: 20px;
  padding-right: 0;
  /*background: #9D8ABA;*/
}

body {
  font-family: 'Jaldi', sans-serif;
}

nav {
  position: fixed;
  top: 0; right: 0; left: 0;
  padding: 6px;
  background: rgba(0,0,0,0.1);
  color: rgba(255,255,255,0.4);
  font-size: 12px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
}

nav span {
  padding: 0 25px;
  border-right: 1px solid rgba(0,0,0,0.1);
}

nav span:last-child {
  border-right: 0;
}

#weather-bg {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  /*background: url('fresh_snow_@2X.png');*/
  /*background: url('./weather/rain.png');*/
  /*opacity: 0.3;*/
  background-size: cover !important;
  /*filter: brightness(80%);*/
}

#weather-bg div {
  opacity: 0;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  transition: opacity 5s;
}

#weather-bg div.show {
  opacity: 0.3;
}

#weather-sunny {
  background: url(./weather/sun.png) no-repeat center center fixed;
  background-size: cover;
}

#weather-rain {
  background: url(./weather/rain.png) no-repeat center center fixed;
  background-size: cover;
}

#weather-cloudy {
  background: url(./weather/cloudy.png) no-repeat center center fixed;
  background-size: cover;
}

#weather-windy {
  background: url(./weather/windy.png) no-repeat center center fixed;
  background-size: cover;
}

#weather-snow {
  background: url(./weather/snow.png) no-repeat center center fixed;
  background-size: cover;
}

.container-main {
  max-width: 550px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  opacity: 0;
  animation: fadeAllIn 0.7s forwards;
}

@keyframes fadeAllIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

iframe {
  border: none;
  margin: 0 auto;
}

/*** SEARCH ***/

.search-container {
  padding: 0 10px;
  position: relative;
  text-align: left;
  margin-bottom: 40px;
}

#search-input {
  width: 22%;
  border: none;
  outline: 0;
  /*background: #A192B6;*/
  background: rgba(0,0,0,0.07);
  padding: 17px;
  box-sizing: border-box;
  /*color: #BBB5C5;*/
  /*color: hsl(263,12%,74%);*/
  color: #ddd;
  font-size: 20px;
  letter-spacing: 1px;
  padding-left: 57px;
  border-radius: 4px;
  animation: searchLoad 0.3s ease-in forwards 0.2s;
  /*font-weight: 700;*/
  /*letter-spacing: 2px;*/

  font-family: 'Jaldi', sans-serif;
  letter-spacing: 1px;
  font-size: 24px

}

@keyframes searchLoad {
  from { width: 22%; }
  to { width: 100%; }
}

#search-input:focus {
  box-shadow: inset 0 -1px 7px rgba(0,0,0,0.01);
  border-bottom: 2px solid rgba(0,0,0,0.15);
  padding-bottom: 15px;
  /*background: #9B8DB0;*/
  background: rgba(0,0,0,0.1);
}

#input-search-icon {
  position: absolute;
  left: 23px;
  transform: translateY(-50%);
  top: 48%;
  opacity: 0.18;
  filter: none;
  z-index: 10;
}

/*.search-icon {
  position: absolute;
  left: 23px;
  transform: translateY(-50%);
  top: 50%;
  opacity: 0.18;
  filter: none;
  z-index: 10;
}*/

/*.search-icon:before {*/
#input-search-icon i.fa {
  font-size: 30px;
}

#input-search-icon i.fa-google {
  transform: translateY(3px);
}

/** *LINKS ***/

ul {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  padding-left: 0;
}

ul li {
  list-style: none;
  flex: 1;
  padding: 10px;
  justify-content: space-between;
  flex-basis: 110px;
  height: 110px;
}

ul li a {
  /*background: #B5A2CC;*/
  position: relative;
  display: block;
  border-radius: 4px;
  height: 100%;
  vertical-align: center;
  /*box-shadow: 0 1px 2px rgba(0,0,0,0.2);*/
  /*line-height: 105px;*/
  line-height: 0;
  color: #eee;
  text-decoration: none;
  opacity: 0;
  transform: translateY(0);
  font-weight: bold;
  position: relative;
  overflow: hidden;
  will-change: auto;
  /*border: 1px solid rgba(0,0,0,0.08);*/
  z-index: 1;
  transition: opacity 0.3s;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0) scale(1.0, 1.0);
}

ul li a.show {
  opacity: 1;
}

ul li a .fa {
  font-size: 45px;
  opacity: 0.8;
  top: 45%;
  transform: translateY(-50%) rotate(0.0001deg);
  transform-origin: 50% 50%;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 5;
}

ul li a span {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20%;
  color: rgba(0,0,0,0.15);
  z-index: 5;
  font-size: 15px;
  letter-spacing: 1px;
}

ul li a:after {
  content: '';
  width: 150px;
  height: 150px;
  /*background: #CFB2D4;*/
  background: rgba(255,255,255,0.18);
  position: absolute;
  /*bottom: -130%;*/
  z-index: 2;
  transition: all 0.2s;
  opactiy: 0;
  transform-origin: 50% 50%;
  transform: rotate(0deg) translate(0,80%);
  /*bottom: -140%;
  right: -100%;*/
}

/****************************************/
/*** (NOTE) IF YOU WANT MOUSE INPUT,  ***/
/*** SWAP THE TWO LINES BELOW         ***/
/*** SO THE TILES HAVE A HOVER EFFECT ***/
/****************************************/

/*ul li a:focus, ul li:hover a*/
ul li a:focus {
  /*background: #BBA8CF;*/
  filter: brightness(105%);
  box-shadow: 0 2px 5px rgba(0,0,0,0.35);
  outline: none;
  border: none !important;
  /*margin-top: -1px;*/
  transform: translateY(-1px);
}

ul li a:focus:after {
  transform: rotate(-45deg) translate(-30%,35%);
  /*bottom: -90%;
  right: -90%;*/
  opacity: 0.5;
}

/*** DOTS ***/

#dot-container {
  display: none;
}

.section-no-dots {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin-top: 9px;
}

.no-dot {
  margin: 0 auto;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  /*background: rgba(255,255,255,0.1);*/
  display: inline-block;
  margin-right: 15px;
  font-size: 14px;
}

.no-dot:last-child {
  margin-right: 0;
}

.no-dot-sel {
  /*background: rgba(255,255,255,0.24);*/
}

.no-dot i {
  color: rgba(255,255,255,0.2);
  position: absolute;
}

.no-dot-sel i {
  transform: translate(-2px,-3px);
  font-size: 18px;
  color: rgba(255,255,255,0.6);
}

@media (max-height: 700px) {

  ul li {
    height: 90px;
    flex-basis: 90px;
  }

  ul li a:after {
    bottom: -170%;

  }

  ul li a:focus:after {
    bottom: -140%;
  }


}
